*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    overflow: hidden;
    width: 1440px;
    margin: 0 auto;
    font-family: monospace;
}

.main{
    width: 100%;
}

